<h1>These are the party guys</h1>
<ul>
  <li><img src="https://avatars2.githubusercontent.com/u/8084433?v=3&s=400">Tomasz</li>
  <li><img src="https://avatars.githubusercontent.com/u/9701591?v=3&s=440">Philip</li>
  <li>Philip</li>
  <li>Alvaro</li>

</ul>


