<h1>These are the party guys</h1>
<ul>
  <li><img src="../../assets/images/thomas.jpeg">Tomasz</li>
  <li><img src="../../assets/images/philip.jpeg">Philip</li>
  <li><img src="../../assets/images/alvarito.gif">Alvaro</li>
</ul>


